.sidepanel-content {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.sidepanel-content>.input-field {
  margin: 0;
  padding: 1rem;
}

.sidepanel-content>.input-field a {
  color: white;
  display: flex;
}

.sidepanel-datepickers {
  display: flex;
  flex-flow: row;
}

.sidepanel-datepickers .input-field {
  padding: 0 1rem;
  padding-top: .5rem;
  margin: 0;
  height: 3.5rem;
}

.sidepanel-datepickers .input-field label {
  color: white;
  font-size: .8rem;
  margin-left: 1rem;
  cursor: pointer;
}

.sidepanel-datepickers .input-field label.active {
  margin-top: 1.5rem;
  width: 100%;
}

.sidepanel-datepickers .input-field input {
  border-bottom: 0 !important;
  color: white;
  cursor: pointer;
  height: 2.5rem;
  margin-bottom: 0;
}

.dropdown-content {
  width: 400px !important;
  position: fixed !important;
  height: unset !important;
  top: 42px !important;
  background: darkgrey !important;
}

.dropdown-content li {
  min-height: 1rem !important;
  background: #3b678c;
  margin-top: 1px;
  padding: 0.5rem;
  color: white !important;
}

.select-dropdown li span {
  color: white !important;
  padding: .2rem 1rem !important;
}

.dropdown-content li:hover {
  color: black !important;
}

.dd-hint {
  text-transform: uppercase;
}

.datepicker-date-display {
  background-color: #3b678c !important;
}

.datepicker-table-wrapper, .datepicker-controls input {
  color: #3b678c !important;
}

.datepicker-calendar-container {
  padding: 1rem;
}

.input-field:hover {
  background-color: rgba(0, 0, 0, 0.158);
  cursor: pointer;
}

.today-button {
  color: #26a69a !important;
  float: left !important;
}