.brand-logo {
  text-transform: uppercase;
  font-size: large !important;
  font-weight: 600;
  margin-right: 1rem;
  margin-left: 1rem;
}

.left {
  display: flex;
  margin-right: 1rem;
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
}

.left img {
  height: 25px;
  margin-top: .3rem;
  margin-right: 1rem;
  cursor: pointer;
}

.nav-wrapper {
  padding: 0 1rem 0 0;
  background: #3b678c;
  display: flex;
  width: 100%;
}

nav {
  line-height: 3rem !important;
  height: 3rem !important;
}

nav .hide-third {
  flex-grow: 1;
}

.menu-icon {
  vertical-align: text-top;
}

#chartdiv {
  overflow: unset;
  flex-grow: 1;
}

.menu {
  display: block;
  cursor: pointer;
  padding-left: .5rem;
  padding-right: .6rem;
  margin-right: .5rem;
}

.menu:hover {
  background-color: rgba(0, 0, 0, 0.158);
}

@media only screen and (max-width: 1400px) {
  .hide-first {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  .hide-second {
    display: none !important;
  }
  .brand-logo {
    display: none !important;
  }
}

@media only screen and (max-width: 700px) {
  .menu {
    display: block;
  }
  .brand-logo {
    display: block !important;
  }
  .hide-third {
    display: none !important;
  }
  .logo {
    display: block !important;
    margin-left: 1rem;
  }
}