.losts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  transition: all .1s;
}

.losts-wrapper table {
  max-width: 220px;
  margin: auto;
  margin-top: 1rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

.losts-wrapper table thead {
  border-bottom: 2px solid lightgray;
}

.losts-wrapper table thead, .losts-wrapper table tbody tr {
  display: block;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.losts-wrapper table tbody {
  display: block;
  max-height: 550px;
  overflow-y: auto;
}

.losts-wrapper table th {
  padding: .5rem .2rem;
  font-size: smaller;
  border-radius: 0 !important;
  border-bottom: unset !important;
  border-top: unset !important;
}

.losts-wrapper table thead tr {
  border: unset !important;
}

.losts-wrapper table td {
  padding: .2rem .1rem;
  font-size: smaller;
  border-radius: 0 !important;
}

#chartdiv-loss {
  height: 80vh;
  max-width: 1000px;
  min-width: 750px;
  margin-top: 1rem;
  margin-left: 1rem;
  transition: all .1s;
  flex-grow: 1;
  width: unset !important;
}

.main-field {
  background: #3b688c33;
}

.table-header {
  background: #3b688cce;
  color: white;
  border-bottom: unset !important;
}